<!doctype html>
<html lang="en">
  <head>
    <title>View Message | <%= siteName %></title>
    <link rel="stylesheet" href="/style.css" />
  </head>
  <body>
    <%- include('header') %>
    <h1>View Message</h1>
    <div>
      <b>Title:</b>
      <%=message.title%>
    </div>
    <div>
      <b>Body:</b>
      <%=message.body%>
    </div>
    <div>
      <b>Author:</b>
      <%=isIdUserId(message.user_id) ? '[You]' : '[Visible by members]'%>
    </div>
    <div>
      <b>Posted date:</b>
      <%=isIdUserId(message.user_id) ? datetimeFormat(message.timestamp) : '[Visible by members]' %>
    </div>
    <p><a href="/">Home</a></p>
  </body>
</html>
