<!doctype html>
<html lang="en">
  <head>
    <title><%=otherUser.username%> | <%= siteName %></title>
    <link rel="stylesheet" href="/style.css" />
  </head>
  <body>
    <%- include('header') %>
    <h1><%=otherUser.username%>'s Profile</h1>
    <div>
      <b>Username:</b>
      <%=otherUser.username%>
    </div>
    <div>
      <b>First Name:</b>
      <%=otherUser.first_name%>
    </div>
    <div>
      <b>Last Name:</b>
      <%=otherUser.last_name%>
    </div>
    <p><a href="/">Home</a></p>
  </body>
</html>
