<!doctype html>
<html lang="en">
  <head>
    <title><%= siteName %></title>
    <link rel="stylesheet" href="/style.css" />
  </head>
  <body>
    <%- include('header') %>

    <h1><%= siteName %></h1>

    <% if (isLoggedIn) { %>
    <p>Welcome to The Forum, <%= user.first_name %>!</p>
    <p><a href="/messages/newMessage">Post a new message</a></p>
    <% } %>

    <h2>Messages</h2>
    <% if (messages.length === 0) {%>
    <div>No messages yet!</div>
    <% } else {%>
    <div class="messages-container">
      <% messages.forEach((message) => {%>
      <%- include('messagePreview', {message}) %>
      <% }); %>
      <% } %>
    </div>

    <h2>Site Stats</h2>
    <div>
      <b>Number of messages: </b>
      <%=messages.length%>
    </div>
    <div>
      <b>Number of users: </b>
      <%=(isMember) ? users.length : '[Visible by members]'%>
    </div>
  </body>
</html>
