<!doctype html>
<html lang="en">
  <head>
    <title><%= siteName %></title>
    <link rel="stylesheet" href="/style.css" />
  </head>
  <body>
    <%- include('header') %>
    <h1><%= siteName %></h1>
    <% if (user) { %>
    <p>Welcome to The Forum, <%= user.first_name %>!</p>
    <% } %>
    <h2>Messages</h2>
    <% if (messages.length === 0) {%>
    <div>No messages yet!</div>
    <% } %>
    <% messages.forEach((message) => {%>
    <%- include('message', {message}) %>
    <% }); %>
    <h2>Site Stats</h2>
  </body>
</html>
