<!doctype html>
<html lang="en">
  <head>
    <title>Edit <%=song.name%> | Music Database</title>
  </head>
  <body>
    <a href="/view">Index</a> > <a href="/songs/view">All Songs</a> > <a href="/songs/<%=song.id%>/view"><%=song.name%></a>
    <h1>Edit Song</h1>
    <form action="/songs/<%=song.id%>" method="post">
      <label for="name">Name: <input type="text" id="name" name="name" value="<%=song.name%>" maxlength="255" required></label>
      <label for="lengthSeconds">Length (seconds): <input type="number" id="lengthSeconds" name="lengthSeconds" min="1" step="1" value="<%=song.length_seconds%>" required></label>
      <div>
        <label for="genres">Genre(s):</label>
      </div>
      <div>
        <select name="genreIds" id="genres" multiple>
          <%genres.forEach((genre) => {%>
          <%if (songGenreIds.includes(genre.id)) {%>
            <option value="<%=genre.id%>" selected><%=genre.name%></option>
          <%} else {%>
            <option value="<%=genre.id%>"><%=genre.name%></option>
          <%}});%>
        </select> 
      </div>
      <div>
        <label for="artistIds">Artist(s):</label>
      </div>
      <div>
        <select name="artistIds" id="artists" multiple>
          <%artists.forEach((artist) => {%>
          <%if (songArtistIds.includes(artist.id)) {%>
            <option value="<%=artist.id%>" selected><%=artist.name%></option>
          <%} else {%>
            <option value="<%=artist.id%>"><%=artist.name%></option>
          <%}});%>
        </select>
      </div>
      <div>
        <button type="submit">Update</button>
      </div>
    </form>
  </body>
</html>
