<!doctype html>
<html lang="en">
  <head>
    <title>New Message | <%= siteName %></title>
    <link rel="stylesheet" href="/style.css" />
  </head>
  <body>
    <%- include('header') %>
    <h1>New Message</h1>

    <%- include('errorList') %>

    <form action="/messages" method="post">
      <div>
        <label for="title">Title: </label>
        <input name="title" id="title" minlength="1" maxlength="64" value="<%= locals.title || '' %>" required />
      </div>
      <div>
        <label for="body">Body: </label>
        <div>
          <textarea name="body" id="body" maxlength="2000"><%= locals.body || '' %></textarea>
        </div>
      </div>
      <div>
        <button type="submit">Post</button>
      </div>
    </form>
  </body>
</html>
